@media only screen and (max-width:2000px){
.imgheader{
    height:55px;
    width:150px;
    margin-left:50px;
}

}


@media only screen and(max-width:505px){

.imgheader{
    height:10px;
    width:10px;
    margin-left:5px;
}


}


























